/* GENERAL */
body {
  margin: 0;
  padding: 0;
  background: #cdb9b9;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
  background: #eec276;
  padding: 15px 40px;
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar a {
  color: #066;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

/* WELCOME BANNER */
.welcome-banner {
  margin: 40px;
  border-radius: 25px;
  padding: 50px;
  background: linear-gradient(to right, #3da7a1, #9fc7a3);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-banner h1 {
  font-size: 42px;
  margin: 0;
}

.welcome-banner span {
  font-weight: 700;
}

.banner-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

/* STATS */
.stats-row {
  display: flex;
  gap: 20px;
  padding: 0 40px;
}

.stat-box {
  flex: 1;
  background: #fff;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
}

.stat-box h2 {
  margin: 0;
  font-size: 26px;
}

/* 3 CARDS */
.cards-row {
  display: flex;
  gap: 20px;
  margin: 40px;
}

.card {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.card-icon {
  width: 60px;
  margin-bottom: 15px;
}

/* HISTORY SECTION */
.history-section {
  background: #fff;
  margin: 0 40px 40px;
  padding: 30px;
  border-radius: 15px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-btn {
  background: #2c7774;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.history-item {
  background: #dedede;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.amount {
  font-weight: 700;
  font-size: 18px;
}
/* image 91 */



