body {
    background: #ceb4b4;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    background: #e8c07d;
    padding: 12px 20px;
}

.nav-item {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-item.active {
    color: #3b7f8b;
   
}

.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* BACK BUTTON */
.back-btn {
    text-decoration: none;
    font-size: 35px;
    margin: 20px;
    color: black;
}

/* TITLE */
.table-title {
    font-size: 28px;
    margin-left: 25px;
    margin-top: 10px;
    font-weight: bold;
}

/* HEADER ROW */
.header-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
    padding: 15px;
    font-weight: bold;
}

/* TABLE ROW DESIGN */
.table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: white;
    padding: 20px;
    margin: 15px 20px;
    border-radius: 20px;
    align-items: center;
}
