body {
    font-family: sans-serif;
    background: #cbb4b4;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
}

.login-left {
    max-width: 450px;
    width: 100%;
}

h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

.label {
    font-size: 22px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 18px;
    font-size: 22px;
    border-radius: 10px;
    border: 2px solid #777;
    margin-bottom: 25px;
}

.password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.remember {
    font-size: 18px;
    margin-bottom: 25px;
}

/* Checkbox style */
input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    border: 2px solid #000;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    top: 3px;
    margin-right: 10px;
}

input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    font-size: 16px;
    left: 1px;
    top: -3px;
    color: #000;
}

.login-btn {
    width: 70%;
    padding: 18px;
    background: #3da0a0;
    color: #fff;
    font-size: 26px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 20px;
}

.signup-link {
    font-size: 20px;
}

.signup-link a {
    font-weight: 600;
    color: #1e4bff;
}

.side-image {
    width: 300px;
    height: 300px;
    object-fit: contain;   /* shows full logo */
    border-radius: 50%;
    background-color: #a7e6e2; /* optional: match the border color */
    padding: 10px;         /* optional: create balanced spacing */
}
