body {
    margin: 0;
    padding: 0;
    background-color: #cbb7b7;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 50px;
    position: relative;
}

.title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 40px;
}

.label {
    font-size: 28px;
    font-weight: 600;
}

.input-field {
    margin-top: 18px;
    width: 480px;
    height: 55px;
    padding-left: 15px;
    font-size: 28px;
    border: 2px solid #5c5c5c;
    border-radius: 8px;
    outline: none;
}

/* LOGO STYLE */
.logo {
    position: absolute;
    right: 50px;
    top: 40px;
    width: 230px;
    height: 230px;
}
